*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    background-color: rgb(53, 124, 100);
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

.pass{
    border: 2px solid red;
    padding-left:60px;
    padding-right: 60px;
    padding-bottom: 60px;
    max-width: 80%;
    max-height: 90%;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}

h2{
    background-color: white;
    padding: .3rem;
    word-break: break-all;
    color: black;
    margin: 1rem;
}

.case{
    padding: 1rem;
}
span{
  margin-right: 5rem;
}

button{
   font-size: 1.3rem;
   width: 100%;
   padding:.5rem;
   margin-top: 2rem;
   background: transparent;
   border-radius: 1rem;
   border: 1px solid orangered;
   outline: none;
   cursor: pointer;
   color: white;
}
 button:hover{
     background-color: rgba(32, 178, 171, 0.397);
     color:#000;
 }
.character-selection{
  display: flex;
  justify-content: center;
  align-items: center;
  
}